body {
    background: #fff;
    color: #666;
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 200;
    font-size: 15px;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

a {
    color: #69C;
    text-decoration: none;
}

    a:hover {
        color: #F60;
    }

h1 {
    font: 1.7em;
    line-height: 110%;
    color: #000;
}

p {
    margin: 0 0 20px;
}

/* reset webkit search input browser style */
input {
    outline: none;

}

    input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 80%;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none; /* remove the search and cancel icon */
    }

    /* search input field */
    input[type=search] {
        background: #f1f1f1 url(http://i.imm.io/Q0Jo.png) no-repeat 9px center;
        border: solid 1px #ccc;
        padding: 9px 10px 9px 32px;
        width: 200px;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;

    }

        input[type=search]:focus {
            width: 50%;
            background-color: #fff;
            border-color: #ccc;
            -webkit-box-shadow: 0 0 5px #718289;
            -moz-box-shadow: 0 0 5px #718289;
            box-shadow: 0 0 5px #718289;
        }

    /* placeholder */
    input:-moz-placeholder {
        color: #999;
    }

    input::-webkit-input-placeholder {
        color: #999;
    }