@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7); }

a {
  color: #69C;
  text-decoration: none; }
a:hover, a:active, a:focus {
  color: #F75940;
  outline: none;
  text-decoration: none !important; }

h1 {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
  font: 1.7em;
  line-height: 110%;
  color: #000; }

p {
  margin-bottom: 1.5em; 
  margin: 0 0 20px; }

input {
  outline: none; }
input[type=search] {
  box-sizing: content-box;
  font-family: inherit;
  font-size: 80%;
  background: #ededed url(http://i.imm.io/Q0Jo.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 200px;
  border-radius: 10em;
  transition: all .5s; }
input[type=search]:focus {
  width: 50%;
  background-color: #fff;
  border-color: #6dcff6;
  box-shadow: 0 0 5px rgba(109,207,246,.5); }

textarea{
  resize: none; }

#colorlib-page {
  width: 100%;
  overflow: hidden;
  position: relative; }

#colorlib-aside {
  padding-top: 3em;
  padding-bottom: 40px;
  padding-left: 3em;
  padding-right: 3em;
  width: 20%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 1001;
  background: #fafafa;
  transition: 0.5s; }
#colorlib-aside #colorlib-logo {
    text-align: right;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 3em;
    display: block;
    width: 100%; }
#colorlib-aside #colorlib-logo a {
  display: inline-block;
  text-align: center;
  background: #000;
  padding: .5em .8em;
  color: #fff;
  letter-spacing: 10px;
  padding-right: .3em; }
#colorlib-aside #colorlib-logo a span {
  display: block;
  margin-bottom: 5px;
  text-align: center; }
#colorlib-aside #colorlib-main-menu ul {
  text-align: right;
  margin: 0;
  padding: 0; }
#colorlib-aside #colorlib-main-menu ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px; }
#colorlib-aside #colorlib-main-menu ul li a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family: "Quicksand", Arial, sans-serif;
  transition: 0.3s; }
#colorlib-aside #colorlib-main-menu ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
#colorlib-aside #colorlib-main-menu ul li a:hover {
  text-decoration: none;
  color: black; }
#colorlib-aside #colorlib-main-menu ul li a:hover:after {
  visibility: visible;
  transform: scaleX(1); }
#colorlib-aside #colorlib-main-menu ul li.colorlib-active a {
  color: #000; }
#colorlib-aside #colorlib-main-menu ul li.colorlib-active a:after {
  visibility: visible;
  transform: scaleX(1); }

#colorlib-main {
  width: 80%;
  float: right;
  transition: 0.5s; }

.colorlib-work {
  padding-top: 4em;
  padding-bottom: 9em;
  clear: both;
  width: 100%;
  display: block; }

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: 0.5s;
  padding: 8px 15px !important; }
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important; }

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c; }
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important; }

.form-control {
  appearance: none;
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0; }
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #F75940; }

.colorlib-nav-toggle {
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  left: -4px;
  top: 0px;
  z-index: 9999;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  transition: 0.5s; }
.colorlib-nav-toggle.active i::before, .colorlib-nav-toggle.active i::after {
  background: #000; }
.colorlib-nav-toggle:hover, .colorlib-nav-toggle:focus, .colorlib-nav-toggle:active {
  outline: none;
  border-bottom: none !important; }
.colorlib-nav-toggle i {
  position: relative;
  display: inline-block;
  zoom: 1;
  width: 30px;
  height: 2px;
  color: #000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out; }
.colorlib-nav-toggle i::before, .colorlib-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  transition: 0.2s; }
.colorlib-nav-toggle i::before {
  top: -7px; }
.colorlib-nav-toggle i::after {
  bottom: -7px; }
.colorlib-nav-toggle:hover i::before {
  top: -10px; }
.colorlib-nav-toggle:hover i::after {
  bottom: -10px; }
.colorlib-nav-toggle.active i {
  background: transparent; }
.colorlib-nav-toggle.active i::before {
  top: 0;
  transform: rotateZ(45deg); }
.colorlib-nav-toggle.active i::after {
  bottom: 0;
  transform: rotateZ(-45deg); }